#sfc3rss7ycjz42fhm6z5xz8gg57qsbzp8nd {
    position: absolute;
}

#FCS_6eztl9y7m4lm8bt5g57zanr9b34ks5yx_divFix {
    width: 300px !important;
}

#FCS_3rss7ycjz42fhm6z5xz8gg57qsbzp8nd_divCou {
    background-color: #101010 !important;
    box-shadow: none !important;
    padding: 2px 8px 2px !important;
}

#FCS_3rss7ycjz42fhm6z5xz8gg57qsbzp8nd_divCou img {
    width: 10px !important;
}

#FCS_3rss7ycjz42fhm6z5xz8gg57qsbzp8nd_btSee {
    display: none !important;
}