:root {
  --color-secondary: #1bf79b;
}

@media screen and (max-width: 1160px) {
  .nav__container,
  .hero__container,
  .about,
  .title__container {
    max-width: 980px;
  }

  .hero__image {
    width: 370px;
  }

  .animated-border {
    width: 360px;
    height: 360px;
  }

  .hero__image img {
    width: 340px;
  }

  .hero__text {
    max-width: 460px;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__subtitle {
    font-size: 22px;
  }

  .about__image {
    width: 430px;
  }

  .about__image img {
    width: 430px;
  }

  .about__subtitle {
    font-size: 33px;
  }

  .about__text {
    width: 480px;
    max-width: 480px;
  }

  .about__description,
  .about__color {
    font-size: 17px;
  }

  .skills__logo-top,
  .skills__logo-bottom {
    max-width: 980px;
  }

  .projects__card {
    width: 100%;
    max-width: 980px;
    height: 460px;
  }

  .projects__btn a {
    padding: 0.55em 2.35em;
    font-size: 19px;
  }

  .border-contact {
    width: 225px;
    height: 225px;
    top: 29px;
  }

  .footer {
    width: 90%;
    max-width: 980px;
  }

  .footer__item {
    max-width: 980px;
  }
}

@media screen and (max-width: 980px) {
  nav {
    display: flex;
    justify-content: center;
    height: 62px;
    position: fixed;
    z-index: 9999;
  }

  .nav__container {
    width: 90%;
    height: 62px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .nav__menu ul {
    display: none;
  }

  .nav__menu-mobile {
    display: flex;
  }

  .nav__menu-mobile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    cursor: pointer;
    color: var(--color-secondary);
  }

  .hero__image {
    width: 350px;
    justify-content: center;
    padding-top: 90px;
  }

  .animated-border {
    width: 320px;
    height: 320px;
  }

  .hero__image img {
    width: 290px;
  }

  .hero__text {
    width: 95%;
    align-items: center;
  }

  .hero__title {
    font-size: 36px;
  }

  .hero__description {
    text-align: center;
  }

  .hero__social ul li {
    margin: 0 10px;
  }

  .hero__container,
  .about__container {
    flex-direction: column;
    /* height: auto; */
  }

  .about__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .title__container {
    justify-content: center;
  }

  .about__title {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .about__subtitle {
    font-size: 37px;
    width: 90%;
  }

  .about__description,
  .about__color {
    font-size: 20px;
    width: 90%;
  }

  .about__image {
    width: 100%;
    padding-top: 55px;
  }

  .about__image img {
    width: 90%;
  }
  .skills__title {
    font-size: 40px;
  }

  .projects__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projects__btn a {
    width: 47%;
    font-size: 18px;
    height: 50px;
  }

  .study__item {
    grid-template-columns: 1fr 1fr;
  }

  .title__contact {
    padding-bottom: 130px;
  }

  .border-contact {
    width: 225px;
    height: 225px;
    top: 29px;
  }
}

@media screen and (max-width: 768px) {
  .skills__logo-top,
  .skills__logo-bottom,
  .skills__container {
    flex-direction: column;
  }

  .skills__container {
    max-width: 480px;
  }

  .skills__logo-top {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 35px;

    padding: 0;
  }

  .skills__logo-bottom {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 35px;
    padding: 0;
  }

  .study__item {
    grid-template-columns: 1fr;
  }

  .contact__info h3 {
    font-size: 28px;
    line-height: 40px;
  }

  .contact__info strong {
    font-size: 31px;
  }

  .footer {
    max-width: 480px;
  }

  .footer__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__reserved {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer__reserved p {
    margin-bottom: 10px;
  }

  .footer__reserved p strong {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .hero__text {
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 28px;
  }

  .hero__subtitle {
    font-size: 16px;
  }

  .hero__description {
    font-size: 13.5px;
    text-align: center;
  }

  .hero__image {
    width: 100%;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .animated-border {
    width: 238px;
    height: 238px;
    border: 12px var(--color-secondary);
    border-top: 12px var(--color-background-dark);
    border-radius: 50%;
    border-style: outset;
  }

  .hero__image img {
    width: 225px;
  }

  .hero__social ul li {
    margin: 0 10px;
  }

  .about,
  .skills,
  .projects {
    padding: 65px 0;
  }

  .about__image img {
    width: 90%;
  }

  .about__title {
    font-size: 40px;
  }

  .about__subtitle {
    font-size: 26px;
  }

  .about__description {
    font-size: 16px;
  }

  .about__color {
    font-size: 16px;
  }

  .hero__button {
    margin-top: 23px;
    height: 23px;
  }

  .hero__social {
    margin-top: 23px;
  }

  .skills__title {
    font-size: 40px;
  }

  .skills__logo-top,
  .skills__logo-bottom {
    padding: 0 50px;
  }

  .skills__logo svg {
    width: 60px;
  }

  .projects__item {
    gap: 32px;
  }

  .projects__card {
    width: 100%;
    max-width: 320px;
    height: 320px;
  }

  .projects__card h3 {
    font-size: 25px;
    margin-top: 20px;
  }

  .projects__btn {
    padding: 0 15px 15px 15px;
  }

  .projects__btn a {
    padding: 0.35em 1.65em;
    height: 40px;
    width: 48%;
    font-size: 16px;
  }

  .contact__info h3 {
    font-size: 24px;
  }

  .contact__info strong {
    font-size: 28px;
  }

  .contact__card-btn {
    padding: 12px 35;
  }

  .contact-profile {
    width: 220px;
  }

  .contact__one a,
  .fa-envelope {
    font-size: 18.5px;
  }

  .border-contact {
    width: 191px;
    height: 191px;
    top: 26px;
  }

  .contact__phone a,
  .fa-phone {
    font-size: 18px;
  }
}
