:root {
  --color-background-dark: #101010;
  --color-background-light: #1d1f20;
  --color-primary: #f5f5f5;
  --color-secondary: #1bf79b;
  --color-tertiary: #fdd857;
  --color-quaternary: #96979E;
  --color-quinary: #FD843F;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-background-light);
}

header {
  height: 100vh;
  background-color: var(--color-background-dark);
}

nav {
  width: 100%;
  height: 95px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1160px;
  height: 95px;
  margin: 0 auto;
}

.nav__logo a {
  font-size: 23px;
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: none;
}

.nav__menu ul {
  display: flex;
}

.nav__menu ul li {
  list-style: none;
  margin-left: 25px;
}

.nav__menu ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 800;
  transition: all 0.17s ease-in-out;
}

.nav__menu ul li a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

.hero {
  width: 100%;
}

.hero__container {
  width: 90% !important;
  height: 90vh;
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero Left */

.hero__text {
  width: 520px;
  height: 394px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-secondary);
}

.hero__subtitle {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);
  margin-top: 15px;
}

.hero__description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 25px;
  color: var(--color-quaternary);
}

.hero__button {
  margin-top: 30px;
  width: 224px;
  height: 64px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.17s ease-in-out;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-background-dark);
}

.hero__social-icon img {
  fill: #f5f5f5;
}

.hero__social {
  margin-top: 30px;
}

.hero__social ul {
  display: flex;
}

.hero__social ul li {
  list-style: none;
  margin-right: 15px;
  
}

.hero__social ul li img {
  transition: all 0.17s ease-in-out;
  width: 36px;
}

.hero__social ul li img:hover {
  transform: scale(1.1);
  background-color: var(--color-secondary);
}


/* hero right */

.hero__image {
  width: 520px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image img {
  width: 400px;
}

/* Main - About */

.about {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 130px 0;
  position: relative;
}

.about__title {
  font-size: 46px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 30px;
}