:root {
  --color-background-dark: #101010;
  --color-background-light: #1d1f20;
  --color-primary: #f5f5f5;
  --color-secondary: #1bf79b;
  --color-tertiary: #fdd857;
  --color-quaternary: #96979e;
  --color-quinary: #fd843f;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-background-dark);
  hyphens: auto;
}

/*! <--------- Header Nav Section --------->*/

header {
  height: 100vh;
  background-color: var(--color-background-light);
}

nav {
  width: 100%;
  height: 73px;
  background-color: var(--color-background-dark);
  box-shadow: 0 0px 16px -6px rgb(5 5 5 / 30%),
    0 25px 10px -24px rgb(5 5 5 / 10%);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1160px;
  height: 73px;
  margin: 0 auto;
}

.nav__logo a {
  font-size: 23px;
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: none;
}

.nav__logo a strong {
  color: var(--color-primary);
}

.nav__menu ul {
  display: flex;
}

.nav__menu-mobile {
  display: none;
}

.nav__menu ul li {
  list-style: none;
  margin-left: 25px;
}

.nav__menu ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 800;
  transition: all 0.17s ease-in-out;
}

.nav__menu ul li a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

/*! <--------- Main - Index section --------->*/

.hero {
  width: 100%;
}

.hero__container {
  width: 90% !important;
  height: 90vh;
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero right */

.hero__text {
  width: 520px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero__title {
  font-size: 40px;
  font-weight: 800;
  color: var(--color-primary);
}

.hero__title strong {
  color: var(--color-secondary);
}

span,
.hero__subtitle {
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
  color: var(--color-primary);
  white-space: nowrap;
  border-right: 4px solid var(--color-secondary);
  width: 24ch;
  animation: typing 2.8s steps(24),
  blink 0.5s step-end forwards alternate infinite;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hero__description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  line-height: 25px;
  text-align: end;
  color: var(--color-quaternary);
}

.hero__button {
  margin-top: 33px;
  width: 150px;
  height: 29px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.17s ease-in-out;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--color-secondary);
  color: var(--color-background-dark);
}

.hero__button:hover {
  background-color: var(--color-background-dark);
  color: var(--color-secondary);
}

.fa-download {
  font-size: 11px;
  margin-left: 5px;
}

.hero__social {
  margin-top: 30px;
}

.hero__social ul {
  display: flex;
}

.hero__social ul li {
  list-style: none;
  margin-left: 15px;
}

.hero__social ul li img,
.social__icons {
  transition: all 0.17s ease-in-out;
  width: 36px;
}

.hero__social ul li img:hover,
.social__icons:hover {
  transform: scale(1.2);
}

.social__icons {
  color: var(--color-quaternary);
}

.social__icons:hover {
  color: var(--color-secondary);
}

/* hero left */

.hero__image {
  width: 440px;
  height: 440px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero__image img {
  width: 440px;
  border: 19px solid var(--color-secondary);
  border-radius: 1000px;
}

/*! <--------- About Section --------->*/

.about {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 130px 0;
  position: relative;
  background-color: var(--color-background-dark);
}

.about__title,
.skills__title {
  text-decoration: underline;
  font-size: 46px;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 40px;
}

.about__title strong,
.skills__title strong {
  color: var(--color-secondary);
}

.about__text {
  width: 520px;
  max-width: 520px;
}

.about__container,
.skills__container,
.title__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* about left */

.about__subtitle {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-secondary);
}

.about__description {
  margin-top: 19px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-quaternary);
}

.about__color {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
  color: var(--color-secondary);
}

/* about right */

.about__image {
  width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image img {
  width: 530px;
}

/*! <--------- Skills Section --------->*/

.skills {
  width: 100%;
  margin: 0 auto;
  padding: 130px 0;
  background-color: var(--color-background-light);
}

.skills__logo-top {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills__logo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skills__logo img {
  width: 100px;
}
